.swiper {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  color: #3f72af;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 34px;
}

.swiper-pagination {
  position: absolute;
  transform: translateX(14px);
  display: block;
}
.swiper-pagination-bullet {
  background-color: white;
  opacity: 1;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  border-radius: 50%;
}

.swiper-pagination-bullet-active {
  background-color: #2563eb;
}
