.input {
  &:focus-within {
    border-color: #ffd166;
  }

  &::placeholder {
    color: black;
  }

  background-color: transparent;
  color: black;
  border-color: black;
  border-radius: 8px;
}

.errorInput {
  &:focus {
    border-color: #fa5252;
  }
  &::placeholder {
    color: #fa5252;
  }
  color: black;
  background-color: transparent;
  border-radius: 8px;
}

.visibilityToggle {
  color: black;
  &:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
  }
  transition: all 0.15s ease-in;
}

.visibilityToggleError {
  color: #fa5252;
}

.labelInput {
  color: black;
  margin: 0 0 5px;
}

.errorMessage {
  font-family: Roboto;
}

.add_propertyBtn_drawer {
  color: #fff;

  &:hover {
    background-color: #068fff;
  }
  transition: all 0.2s;
  width: 100%;
  max-width: 250px;
}

.logout_drawer_Btn {
  color: #fff;
  background-color: red;
  &:hover {
    background-color: #dc2525;
  }
  transition: all 0.2s;
  width: 100%;
  max-width: 250px;
}

.project_edit_Btn {
  background-color: #fcb53b;
  color: #fff;

  &:hover {
    background-color: #fba50f;
  }
  transition: all 0.15s ease-in;
}

.project_dlt_Btn {
  background-color: #c80000;
  color: #fff;

  &:hover {
    background-color: #a40000;
  }
  transition: all 0.15s ease-in;
}

/* project details form */
.labelInput_projects {
  margin-bottom: 5px;
  color: #413f3f;
}

.input_AddProject {
  &:focus-within {
    border-color: #38bdf8;
  }
  background-color: #f9fafb;
  border-color: black;
  color: black;
  &::placeholder {
    color: #a6aebf;
  }
}

.errorInput_AddProject {
  &:focus-within {
    border-color: #fa5252;
  }
  background-color: #f9fafb;
  border-color: #fa5252;
  color: black;
  &::placeholder {
    color: #a6aebf;
  }
}

.inputSection {
  background-color: #ffe4e1;
  border-radius: 2px;
}

.prevBtn {
  background-color: #9a0f7c;
  border-color: #9a0f7c;
  &:hover {
    background-color: #800d67;
  }

  &:disabled {
    opacity: 0.4;
  }
  transition: all 0.15s ease-in-out;
}

.nextBtn {
  background-color: #663399;
  border-color: #663399;
  &:hover {
    background-color: #502878;
  }
  transition: all 0.15s ease-in-out;
}

/* Tabs */
.propertiesTabs_root {
  margin: 10px auto 30px;
}

.propertiesTabs_tab {
  &:hover {
    background-color: #0891b2;
    color: #fff;
  }
  font-size: 15px;
  transition: all 0.15s;
}

.propertiesTabs_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Image Modal */
.closeModal {
  color: white;
  &:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
  transition: all 0.2s ease-in-out;
}

.contentModal {
  background: linear-gradient(
    180deg,
    rgba(145, 140, 127, 1) 0%,
    rgba(103, 109, 146, 1) 50%,
    rgba(6, 62, 128, 1) 100%
  );
}

.modal_header {
  background-color: transparent;
}

/* card */
.card {
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-7)
  );
}

.section_card {
  border-bottom: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  padding-bottom: var(--mantine-spacing-md);
}

.like_card {
  color: var(--mantine-color-red-6);
  width: 20px;
  height: 20px;
}

.label_card {
  text-transform: capitalize;
  font-size: var(--mantine-font-size-xs);
  font-weight: 700;
}

/* Error page */
.root {
  padding-top: 80px;
  padding-bottom: 120px;
  background-color: var(--mantine-color-blue-filled);
}

.label {
  text-align: center;
  font-weight: 500;
  font-size: 220px;
  line-height: 1;
  margin-bottom: calc(var(--mantine-spacing-xl) * 1.5);
  color: var(--mantine-color-blue-3);

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 120px;
  }
}

.title {
  font-family: Outfit, var(--mantine-font-family);
  text-align: center;
  font-weight: 500;
  font-size: 38px;
  color: var(--mantine-color-white);

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 32px;
  }
}

.description {
  max-width: 540px;
  margin: auto;
  margin-top: var(--mantine-spacing-xl);
  margin-bottom: calc(var(--mantine-spacing-xl) * 1.5);
  color: var(--mantine-color-blue-1);
}
