.input {
  &:focus-within {
    border-color: #ffd166;
  }

  &::placeholder {
    color: black;
  }

  background-color: transparent;
  color: black;
  border-color: black;
  border-radius: 8px;
}

.errorInput {
  &:focus {
    border-color: #fa5252;
  }
  &::placeholder {
    color: #fa5252;
  }
  color: black;
  background-color: transparent;
  border-radius: 8px;
}

.visibilityToggle {
  color: black;
  &:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
  }
  transition: all 0.15s ease-in;
}

.visibilityToggleError {
  color: #fa5252;
}

.labelInput {
  color: black;
  margin: 0 0 5px;
}

.errorMessage {
  font-family: Roboto;
}

.add_propertyBtn {
  background-color: #fff;
  border: 1px solid #068fff;
  color: #068fff;

  &:hover {
    background-color: #068fff;
    color: #fff;
    border-color: #fff;
  }
  transition: all 0.2s;
}

.project_edit_Btn {
  background-color: #fcb53b;
  color: #fff;

  &:hover {
    background-color: #fba50f;
  }
  transition: all 0.15s ease-in;
}

.project_dlt_Btn {
  background-color: #c80000;
  color: #fff;

  &:hover {
    background-color: #a40000;
  }
  transition: all 0.15s ease-in;
}

/* project details form */
.labelInput_projects {
  margin-bottom: 5px;
  color: #413f3f;
}

.input_AddProject {
  &:focus-within {
    border-color: #38bdf8;
  }
  background-color: #f9fafb;
  border-color: black;
  color: black;
  &::placeholder {
    color: #a6aebf;
  }
}

.errorInput_AddProject {
  &:focus-within {
    border-color: #fa5252;
  }
  background-color: #f9fafb;
  border-color: #fa5252;
  color: black;
  &::placeholder {
    color: #a6aebf;
  }
}

.inputSection {
  background-color: #ccc;
  border-radius: 2px;
}

.prevBtn {
  background-color: #9a0f7c;
  border-color: #9a0f7c;
  &:hover {
    background-color: #800d67;
  }

  &:disabled {
    opacity: 0.4;
  }
  transition: all 0.15s ease-in-out;
}

.nextBtn {
  background-color: #663399;
  border-color: #663399;
  &:hover {
    background-color: #502878;
  }
  transition: all 0.15s ease-in-out;
}

/* Tabs */
.propertiesTabs_root {
  margin: 10px auto 30px;
}

.propertiesTabs_tab {
  &:hover {
    background-color: #0891b2;
    color: #fff;
  }
  font-size: 15px;
  transition: all 0.15s;
}

.propertiesTabs_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Image Modal */
.closeModal {
  color: white;
  &:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
  transition: all 0.2s ease-in-out;
}

.contentModal {
  background: linear-gradient(
    180deg,
    rgba(145, 140, 127, 1) 0%,
    rgba(103, 109, 146, 1) 50%,
    rgba(6, 62, 128, 1) 100%
  );
}

.modal_header {
  background-color: transparent;
}
